.header {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-link {
  font-family: 'Poppins_400Regular';
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.header-link:hover {
  text-decoration: underline;
}
